@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #e2e8f0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-template-rows: 175px 1fr;
}


.sidebar {
    background-color: #0284c7;
    grid-row: 1 /3;
    display: grid;
    grid-template-columns: 60px 150px;
    grid-template-rows:70px repeat(11 , 40px);
    align-items: center;
}
.sidebar a {
    color: white;
}
a:hover {
    color: #082f49;
    transition: 0.3s;
}
.sidebar>img , .header .icon  {
    justify-self:center;
    width: 22px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(341deg) brightness(99%) contrast(103%);
}

#dashboard {
    width: 40px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
    grid-template-rows: 70px 60%;
    padding-right: 30px;
}

.shadow {
    box-shadow: 0px 2px 8px rgba(152, 151, 151, 0.375);
}

.header>div {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 25px;
    gap: 8px;
}

.header .icon {
    filter: Brightness(0) saturate(100%);
}

#search input {
    width: 95%;
    height: 30px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #e2e8f0;
}


.big-icon {
    width: 75px;
}

.small-icon {
    width:50px;
}
#profile ,#buttons {
    display: flex;
}

#profile {
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
}

#welcome {
    gap: 20px;
}
#welcome div {
    line-height: 10px;
}
#welcome b {
    font-size: 12.5px;
}
#buttons {
    justify-content: flex-end;
    gap: 35px;
}

button {
    width: 95px;
    height: 40px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    background-color: #0ea5e9;
}
button:hover {
    transition-duration: 0.3s;
    background-color: #082f49;
}

.content {
    display: grid;
    grid-template-columns: 72% 28%;
    grid-template-rows: 400px 1fr;
    gap: 8px;
    padding: 15px;
}
.content p {
    margin-top: 0;
    color: #4b5563;
}

.content>h3, .content h4{
    letter-spacing: 1px;
}
.your-projects {
    grid-row: 1 / 3;
}
.your-projects>div {
    display: grid;
    gap: 25px;
    padding-right: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
    padding: 20px;
    font-size: 16px;
    background-color: white;
    border-left: solid 8px #0284c7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.card>div+div {
    display: flex;
    gap: 25px;
    padding-right: 20px;
    justify-content: flex-end;
}
.card h3 , .card1 h4 {
    margin-bottom: 2px;
}
.card img {
    width: 25px;
}



.announcments ,.trending{
    padding: 0 20px 0 0;
}
.card1 {
    background-color: white;
    font-size: 13px;
    padding: 20px 30px 20px 40px;
    border-radius: 10px;
}


.trending>div>div {
    display: grid;
    height: 330px;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 20px 10px 10px 20px;
}
.trending img {
    justify-self: center;
}

body>a{
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    top: 550px;
    left: 40px;
    text-align: center;
    width: 150px;
    color: white;
}